{% load static %}
{% load static i18n %}

{% block footer %}
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyleft <i class="far fa-rotate-180 fa-copyright"></i> 
        <a href="https://trottomv.me" target="_blank" title="coffeee Mantainer">trottomv</a> 2019-<span id="year"></span>
        | <a href="/tos/" title="coffeee ToS">Terms of Service</a>
        | <a href="/privacy/" title="coffeee Privacy">Privacy</a>
        | <a href="https://gitlab.com/trottomv/coffeee" target="_blank" title="coffeee Gitlab"><i style="font-size:20px; margin-left:0.6%;" class="fab fa-gitlab"></i></a>
      </p>
    </div>
  </footer>

  {% block javascript %}
  <!-- Bootstrap core JavaScript -->
  <script src="/assets/web/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/web/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
  {% if anchor %}
    <script type='text/javascript'>
    $(document).ready(function(){
        window.location = '#{{ anchor }}'
    });
    </script>
  {% endif %}
  {% endblock %}

{% endblock %}