{% load static %}
{% load static i18n %}


{% block header %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% trans "Coffeee" %}</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/web/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/web/css/business-casual.min.css" rel="stylesheet">
  <link href="/assets/web/css/custom.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/assets/web/img/coffeee-favicon.png"/>
  
</head>


<body>
{% endblock %}