{% load static %}
{% load static i18n %}

{% block navigation %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">Coffeee</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% comment %} <p class="text-warning">{{ request.path }}</p> {% endcomment %}
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          {% if user.is_authenticated %}
            <li class="nav-item {% if request.path == '/take/' or request.path == '/waffles/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/take">{% trans "Take a Coffee" %}!</a>
            </li>
            <li class="nav-item {% if '/coffee' in request.path  %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/coffee">{% trans "Yours Coffee" %}!</a>
            </li>
            <li class="nav-item {% if '/profile/' in request.path %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/profile">{% trans "Profile" %}</a>
            </li>
            <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/logout">{% trans "Logout" %}</a>
            </li>
          {% else %}
            <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">{% trans "Home" %}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/#login">{% trans "Login" %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}