{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<section class="page-section cta" id="profile">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner-custom text-center rounded">
                    <h2 class="section-heading mb-4">
                        {% comment %} <span class="section-heading-upper">{% trans "Hi" %}!</span> {% endcomment %}
                        <span class="section-heading-lower">{% trans "403 Forbidden" %}!</span>
                        {% comment %} <span class="section-heading-lower">{{ user.username }}</span> {% endcomment %}
                    </h2>
                    {% comment %} <a href="{% url 'waffles' %}">
                        <p class="btn btn-primary btn-xl"><i class="fa fa-coffee"></i> {% trans "Take a Coffee" %}!</p>
                    </a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

