{% load static %}
{% load static i18n %}

<!DOCTYPE html>
<html lang="en">


{% include 'partials/header.html' %}
{% block header %}
{% endblock %}


<body>

  {% include 'partials/navigation.html' %}
  {% block navigation %}
  {% endblock %}

  {% block content %}
    <!-- Block Content -->
  {% endblock %}

  {% include 'partials/footer.html' %}
  {% block footer %}
  {% endblock %}

</body>

</html>
