{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<section class="page-section cta" id="profile">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner-custom text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper"> {% trans "Hi "%} {{ user.username }}</span>
                        <span class="section-heading-lower">{% trans "Pay yours Coffee" %} </span>
                    </h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm my-auto">
                                    <img class="card-text" src="/assets/web/img/coffeee-logo.png" width="100%" lt="Card image cap">
                                </div>
                                <div class="col-sm my-auto">
                                    <h1 class="d-inline">{{consumptions_topay}}</h1>
                                    <h3 class="d-inline">{% trans "CUP"%}</h3>
                                    <p class="card-text">{% trans "of coffee to Pay"%}</p>
                                </div>
                                <div class="col-sm my-auto">
                                    <h1 class="d-inline">{{amount_topay}}</h1>
                                    <h3 class="d-inline">€</h3>
                                    <p class="card-text">{% trans "of coffee to Pay"%}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button class="btn btn-success btn-xl" type="submit" name="confirm">{% trans "Pay now!!..."%} <i class="fa fa-money-bill-wave"></i> </button>
                        <a href="/coffee" class="btn btn-primary btn-xl"><i class="fa fa-undo"></i> {% trans "Undo" %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

