{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<section class="page-section cta" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner-custom text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{% trans "Hi" %} {{ user.username }}!</span>
              <span class="section-heading-lower">{% trans "how many coffee" %}!!!</span>
            </h2>
            {% if not request.GET.group %}
              {% for group in groups %}
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-4 my-1">
                        {% if group.image %}
                          <img class="card-text" src="/media/{{ group.image }}" width="50%" lt="Card image cap">
                        {% else %}
                          <img class="card-text" src="/assets/web/img/coffeee-logo.png" width="50%" lt="Card image cap">
                        {% endif %}
                        <h5>{{ group.name }}</h5>
                      </div>
                      <div class="col-sm-8 my-auto">
                        <a href="/coffee/?group={{ group.id }}" class="btn btn-primary btn-xl" type="submit" name="confirm">{% trans "Show details..."%} <i class="fa fa-coffee" style="font-size:18px;"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-4 my-1">
                        {% if group.image %}
                          <img class="card-text" src="/media/{{ group.image }}" width="50%" lt="Card image cap">
                        {% else %}
                          <img class="card-text" src="/assets/web/img/coffeee-logo.png" width="50%" lt="Card image cap">
                        {% endif %}
                        <h5>{{ group.name }}</h5>
                      </div>
                      <div class="col-sm-8 my-auto">
                        <div class="row">
                          <div class="col-sm my-auto">
                            <h1 class="d-inline">{{consumptions_length}}</h1>
                            <h4 class="d-inline">{% trans "CUP"%}</h4>
                            <p class="card-text"> {% trans "of coffee TOT"%}</p>
                          </div>
                          <div class="col-sm my-auto">
                            <h1 class="d-inline">{{consumptions_paid}}</h1>
                            <h4 class="d-inline">{% trans "CUP"%}</h4>
                            <p class="card-text"> {% trans "of coffee Paid"%}</p>
                          </div>
                          <div class="col-sm my-auto">
                            <h1 class="d-inline">{{consumptions_topay}}</h1>
                            <h4 class="d-inline">{% trans "CUP"%}</h4>
                            <p class="card-text"> {% trans "of coffee to Pay"%}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm my-auto">
                            <h1 class="d-inline">{{amount_tot}}</h1>
                            <h3 class="d-inline">€</h3>
                            <p class="card-text"> {% trans "of coffee drink"%}</p>
                          </div>
                          <div class="col-sm my-auto">
                            <h1 class="d-inline">{{amount_paid}}</h1>
                            <h3 class="d-inline">€</h3>
                            <p class="card-text"> {% trans "of coffee Paid"%}</p>
                          </div>
                          <div class="col-sm my-auto">
                            <h1 class="d-inline">{{amount_topay}}</h1>
                            <h3 class="d-inline">€</h3>
                            <p class="card-text"> {% trans "of coffee to Pay"%}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <div class="container">
                {% if consumptions_topay > 0 %}
                  <a href="/coffee/pay/?group={{request.GET.group}}" class="btn btn-primary btn-xl" type="submit" name="confirm">{% trans "Pay yours coffee..."%} <i class="fa fa-money-bill-wave" style="font-size:18px;"></i></a>
                {% endif %}
                  <a href="/coffee/payments/?group={{request.GET.group}}" class="btn btn-muted btn-xl" type="submit" name="confirm">{% trans "Your payment list..."%} <i class="fa fa-cart-arrow-down" style="font-size:18px;"></i></a>
              </div>

              <div class="container">
                {% if consumptions %}
                    {% for consumption in consumptions %}
                      <hr>
                        <div class="row" style="padding:2%">
                          <div class="col-sm my-auto">
                            <img src="/media/{{ consumption.waffle.image }}" width="70px" />
                          </div>
                          <div class="col-sm my-auto">
                            {{ consumption.waffle.name }}
                          </div>
                          <div class="col-sm my-auto">
                            {{ consumption.waffle.price }} €
                          </div>
                          <div class="col-sm my-auto">
                            {{ consumption.date | date:"d/m/Y h:i" }}
                          </div>
                          <div class="col-sm my-auto d-inline">
                            <div>{% trans "Is Paid" %}?</div>
                            {% if consumption.paid %}
                              <i class="fas fa-check-circle text-success"></i>
                            {% else %}
                              <i class="fa fa-times-circle text-warning"></i>
                            {% endif %}
                          </div>
                          {% if not consumption.paid %}
                            <div class="col-sm my-auto d-inline">
                              {% comment %} <div>{% trans "Delete" %}</div> {% endcomment %}
                              <a href="/consumption/delete/{{consumption.id}}" class="btn btn-outline-danger"><i class="fas fa-trash-alt text-danger"></i></a>
                            </div>
                          {% else %}
                            <div class="col-sm my-auto d-inline">
                            </div>
                          {% endif %}
                        </div>  
                      <hr>
                    {% endfor %}
                    {% if end %} 
                      <p>{% trans "No more coffee..." %}</p>
                    {% elif few %}
                    {% else %}
                      <form method="GET">
                          <input type='hidden' name='group' value='{{request.GET.group}}'>
                          <input type='hidden' name='limit' value='{{request.GET.limit|add:paginate_by|add:paginate_by}}'>
                          <input class="btn btn-primary btn-xl data-confirm" type='submit' value="{% trans "Load More ..."%}">
                      </form>
                    {% endif %}
                {% else %}
                  <p>{% trans "You haven't had any coffee yet"%} </p>
                {% endif %}
              </div>
            {% endif %}
          
          </div>
        </div>
      </div>
    </div>
</section>


{% endblock %}


{% block footer %}
<!-- Mantain Scroll Position -->
<script>
document.addEventListener('DOMContentLoaded', function() {
	var sep = '\uE000'; // an unusual char: unicode 'Private Use, First'

	window.addEventListener('pagehide', function(e) {
		window.name += sep + window.pageXOffset + sep + window.pageYOffset;
	});

	if(window.name && window.name.indexOf(sep) > -1)
	{
		var parts = window.name.split(sep);
		if(parts.length >= 3)
		{
			window.name = parts[0];
			window.scrollTo(parseFloat(parts[parts.length - 2]), parseFloat(parts[parts.length - 1]));
		}
	}
});
</script>
{% endblock %}