{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<section class="page-section cta" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner-custom text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{% trans "Hi" %} {{ user.username }}!</span>
              <span class="section-heading-lower">{% trans "your payment list" %}</span>
            </h2>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm my-auto">
                    {% if group.image %}
                      <img class="card-text" src="/media/{{group.image}}" width="100%" lt="Card image cap">
                    {% else %}
                      <img class="card-text" src="/assets/web/img/coffeee-logo.png" width="100%" lt="Card image cap">
                    {% endif %}
                    <h4>{{ group.name }}</h4>
                  </div>
                  <div class="col-sm my-auto">
                    <h1 class="d-inline">{{consumptions_paid}}</h1>
                    <h3 class="d-inline">{% trans "CUP"%}</h3>
                    <p class="card-text"> {% trans "of coffee Paid"%}</p>
                  </div>
                  <div class="col-sm my-auto">
                    <h1 class="d-inline">{{amount_paid}}</h1>
                    <h3 class="d-inline">€</h3>
                    <p class="card-text"> {% trans "of coffee Paid"%}</p>
                  </div>
                </div>
                <div class="row">
                </div>
              </div>
            </div>
            <div class="container">
              <a href="/coffee/" class="btn btn-muted btn-xl" type="submit" name="confirm">{% trans "Your coffee list..."%} <i class="fa fa-coffee" style="font-size:18px;"></i></a>
            </div>

            <div class="container">
              {% if payments %}
                  {% for payment in payments %}
                    <hr>
                      <div class="row" style="padding:2%">
                        <div class="col-sm my-auto">
                          <i class="fa fa-check text-success"></i>
                        </div>
                        <div class="col-sm my-auto">
                          [{{ payment.group }}] {{ payment.user}}
                        </div>
                        <div class="col-sm my-auto">
                          {{ payment.amount }} €
                        </div>
                        <div class="col-sm my-auto">
                          {{ payment.date | date:"d/m/Y H:i" }}
                        </div>
                      </div>  
                    <hr>
                  {% endfor %}
                  {% if end %} 
                    <p>{% trans "No more payments..." %}</p>
                  {% elif few %}
                  {% else %}
                    <form method="GET">
                        <input type='hidden' name='limit' value='{{request.GET.limit|add:paginate_by|add:paginate_by}}'>
                        <input class="btn btn-primary btn-xl data-confirm" type='submit' value="{% trans "Load More ..."%}">
                    </form>
                  {% endif %}
              {% else %}
                <p>{% trans "You don't made any payment yet"%} </p>
              {% endif %}
            </div>
          
          </div>
        </div>
      </div>
    </div>
</section>


{% endblock %}


{% block footer %}
<!-- Mantain Scroll Position -->
<script>
document.addEventListener('DOMContentLoaded', function() {
	var sep = '\uE000'; // an unusual char: unicode 'Private Use, First'

	window.addEventListener('pagehide', function(e) {
		window.name += sep + window.pageXOffset + sep + window.pageYOffset;
	});

	if(window.name && window.name.indexOf(sep) > -1)
	{
		var parts = window.name.split(sep);
		if(parts.length >= 3)
		{
			window.name = parts[0];
			window.scrollTo(parseFloat(parts[parts.length - 2]), parseFloat(parts[parts.length - 1]));
		}
	}
});
</script>
{% endblock %}