{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<section class="page-section cta" id="profile">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner-custom text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper"> {% trans "Hi "%} {{ user.username }}</span>
                        <span class="section-heading-lower">{% trans "Confirm" %}?</span>
                    </h2>
                    {% if waffle %}
                        <div class="container">
                                <hr>
                                <div class="row" style="padding:2%">
                                    <div class="col-sm my-auto">
                                        <img src="/media/{{ waffle.image }}" width="70px" />
                                    </div>
                                    <div class="col-sm my-auto">
                                        {{ waffle.name }}
                                    </div>
                                    <div class="col-sm my-auto">
                                        {{ waffle.price }} €
                                    </div>
                                   
                                </div>  
                                <hr>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="btn btn-success btn-xl" type="submit" name="confirm"><i class="fa fa-thumbs-up"></i> {% trans "Yes"%}</button>
                            <a href="/waffles/?group={{waffle.group.id}}" class="btn btn-primary btn-xl"><i class="fa fa-undo"></i> {% trans "Undo" %}</a>
                        </form>
                        <a href="{% url 'waffles' %}"></a>
                    {% else %}
                        <p>{% trans "We are sorry, you don't choiche any waffle"%} </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

