{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<section class="page-section cta" id="profile">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner-custom text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper"> {% trans "Hi "%} {{ user.username }}</span>
                        <span class="section-heading-lower">{% trans "Confirm Delete Consumption" %}?</span>
                    </h2>
                    <div class="container">
                        <hr>
                            <div class="row" style="padding:2%">
                                <div class="col-sm my-auto">
                                    <img src="/media/{{ consumption.waffle.image }}" width="70px" />
                                </div>
                                <div class="col-sm my-auto">
                                    {{ consumption.waffle.name }}
                                </div>
                                <div class="col-sm my-auto">
                                    {{ consumption.waffle.price }} €
                                </div>
                                <div class="col-sm my-auto">
                                    {{ consumption.date | date:"d/m/Y h:i" }}
                                </div>
                                
                            </div>  
                        <hr>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-xl" type="submit" name="confirm"><i class="fa fa-trash-alt"></i> {% trans "Delete"%}</button>
                        <a href="/coffee" class="btn btn-primary btn-xl"><i class="fa fa-undo"></i> {% trans "Undo" %}</a>
                    </form>
                    <a href="{% url 'coffee' %}"></a>
                    {% comment %} {% else %}
                        <p>{% trans "We are sorry, you don't choiche any waffle"%} </p>
                    {% endif %} {% endcomment %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

