{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Coffeee</span>
    <span class="site-heading-lower">{% trans "take a break to work better" %}!</span>
  </h1>
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/assets/web/img/coffee-desk2.jpeg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">{% trans "How many Coffee" %}?</span>
            <span class="section-heading-lower">{% trans "Keep mind yours coffee" %}</span>
            {% comment %} <span class="section-heading-lower">{% trans "take a break to work better" %}!</span> {% endcomment %}
          </h2>
          <p class="mb-3">
            {% trans "Keep track of the coffees consumed in your shared office and manage payments" %}
          </p>
          <div class="intro-button mx-auto">
            {% if not user.is_authenticated %}
              <a class="btn btn-primary btn-xl" href="#login">{% trans "Login Now" %}!</a>
            {% else %}
                              
              <a class="btn btn-primary btn-xl" href="take"> <i class="fa fa-coffee"></i> {% trans "Take a Coffee" %}!</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta" id="login">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner-custom text-center rounded">
            <h2 class="section-heading mb-4">
              {% if not user.is_authenticated %}
                <span class="section-heading-upper">{% trans "Login to your" %}</span>
                <span class="section-heading-lower">{% trans "Coffeee"%}</span>
              {% else %}
                <span class="section-heading-upper">{% trans "Hi" %}!</span>
                <span class="section-heading-lower">{{ user.username }}</span>
              {% endif %}

            </h2>
            {% comment %} <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p> {% endcomment %}
            {% if not user.is_authenticated %}
              {% if message %}
                  {% if message.type == 'success' %}
                      <div class="alert alert-success alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <h4>
                              <i class="fa fa-check-circle"></i>
                              {% if message.title %}{{ message.title }}{% else %}OK{% endif %}
                          </h4>
                          {{ message.text }}
                      </div>
                  {% endif %}
                  {% if message.type == 'error' %}
                      <div class="alert alert-danger alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <h4>
                              <i class="fa fa-times-circle"></i>
                              {% if message.title %}{{ message.title }}{% else %}{% trans "ERROR" %}{% endif %}
                          </h4>
                          {{ message.text }}
                      </div>
                  {% endif %}
              {% endif %}
              
              <!-- Login Form -->
              <form action="" method="post" id="form-login" class="form-horizontal form-bordered">
                  {% csrf_token %}
                  {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}
                  {% for field in form.visible_fields %}
                      <div class="form-group">
                          {% comment %} {{ field.errors }} {% endcomment %}
                          <div class="col-xs-12">

                              <div class="text-left">{{ field.label }}</div>
                              <div class="input-group">
                                  {{ field }}
                              </div>
                          </div>
                      </div>
                  {% endfor %}
                  <div class="form-group form-actions">
                      <div class="col-xs-4">
                      </div>
                      <div class="col-xs-8 text-right">
                          <button type="submit" class="btn btn-sm btn-primary"> <i class="fa fa-angle-right"></i> {% trans "Login" %}</button>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12 text-center">
                          <a href="{% url 'password_reset_recover' %}" id="link-reminder-login"><small>{% trans "Forgotten password?" %}</small></a>
                      </div>
                  </div>
              </form>
            <!-- END Login Form -->
            {% else %}
              {% trans "Your logged in!" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
