{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

  <section class="page-section cta" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner-custom text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{% trans "Hi" %}!</span>
              <span class="section-heading-lower">{{ user.username }}</span>
            </h2>
            <form action="" method="post" id="form-profile" class="form-horizontal form-bordered"  enctype="multipart/form-data">

              {% csrf_token %}
              {% for hidden in user_form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}
              {% for hidden in profile_form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}
              {% for field in user_form.visible_fields %}
                  <div class="form-group">
                      {{ field.errors }}
                      <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
                      <div class="col-xs-12">
                          {{ field }}
                          {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                          {% endif %}
                      </div>
                  </div>
              {% endfor %}
              {% for field in profile_form.visible_fields %}
                  <div class="form-group">
                      {{ field.errors }}
                      <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
                      <div class="col-xs-12">
                          {{ field }}
                          {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                          {% endif %}
                      </div>
                  </div>
              {% endfor %}
              <div class="form-actions">
                  <button type="submit" class="btn btn-xl btn-success"><i class="fa fa-save"></i> {% trans "Update Profile" %}</button>
                  <a href="{% url 'profile' %}" class="btn btn-xl btn-primary">
                    <i class="fa fa-undo"></i> {% trans "Undo" %}
                  </a>
                  <a href="{% url 'profile-edit-password' %}" class="btn btn-xl btn-danger">
                    <i class="fa fa-key"></i> {% trans "Change Password" %}
                  </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block footer %}

{% endblock %}