{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

  <section class="page-section cta" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner-custom text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">{% trans "Hi" %}!</span>
                <span class="section-heading-lower">{{ user.username }}</span>
            </h2>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                          {% trans "Avatar" %}
                    </div>
                    <div class="col-xl my-auto">
                        {% if user.profile.avatar %}
                            <img class="rounded-circle" src="/media/{{user.profile.avatar}}" width="50px" />
                        {% else %}
                            <i class="fas fa-user-alt text-secondary" style="font-size:32px;"></i>
                        {% endif %}
                    </div>
                </div>
            <hr>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                        {% trans "Username" %}
                    </div>
                    <div class="col-xl my-auto">
                        <strong>{{ user.username }}</strong>
                    </div>
                </div>  
            <hr>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                        {% trans "First Name" %}
                    </div>
                    <div class="col-xl my-auto">
                        <strong>{{ user.first_name }}</strong>
                    </div>
                </div>  
            <hr>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                        {% trans "Last Name" %}
                    </div>
                    <div class="col-xl my-auto">
                        <strong>{{ user.last_name }}</strong>
                    </div>
                </div>  
            <hr>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                        {% trans "Email" %}
                    </div>
                    <div class="col-xl my-auto">
                        <strong>{{ user.email }}</strong>
                    </div>
                </div>  
            <hr>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                        {% trans "Creation Date" %}
                    </div>
                    <div class="col-xl my-auto">
                        <strong>{{ user.date_joined }}</strong>
                    </div>
                </div>  
            <hr>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                        {% trans "Last Login" %}
                    </div>
                    <div class="col-xl my-auto">
                        <strong>{{ user.last_login }}</strong>
                    </div>
                </div>  
            <hr>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                        {% trans "Role" %}
                    </div>
                    <div class="col-xl my-auto">
                        <strong>{{ user.profile.role }}</strong>
                    </div>
                </div>  
            <hr>
            <hr>
                <div class="row" style="padding:2%">
                    <div class="col-xl my-auto">
                        {% trans "Language" %}
                    </div>
                    <div class="col-xl my-auto">
                        <strong>{{ user.profile.language }}</strong>
                    </div>
                </div>  
            <hr>
            <a href="{% url 'profile-edit' %}">
                <p class="btn btn-primary btn-xl"><i class="fa fa-edit"></i> {% trans "Edit Profile" %}</p>
            </a>

          
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block footer %}

{% endblock %}