{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

  <section class="page-section cta" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner-custom text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{% trans "Hi" %}!</span>
              <span class="section-heading-lower">{{ user.username }}</span>
            </h2>
            <form action="" method="post" id="form-profile" class="form-horizontal form-bordered">

              {% csrf_token %}
              <div class="form-group">
                  <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{% trans "New Password" %}</label>
                  <div class="col-xs-12">
                      {{ password_profile_form.password1 }}
                  </div>
              </div>
              <div class="form-group">
                  <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{% trans "Repeat New Password" %}</label>
                  <div class="col-xs-12">
                      {{ password_profile_form.password2 }}
                  </div>
              </div>
              {% if message %}
                  <div class="form-group">
                      <label for="{{ field.id_for_label }}" class="col-sm-4 control-label"></label>
                      <div class="col-xs-12">
                          <p class="text-danger"> 
                              {{ message.text }}
                          </p>
                      </div>
                  </div>
              {% endif %}

              <div class="block-footer">
                  <button type="submit" class="btn btn-xl btn-success"><i class="fa fa-save"></i> {% trans "Change Password" %}</button>
                  <a href="{% url 'profile' %}">
                      <span class="btn btn-xl btn-primary"><i class="fa fa-undo"></i> {% trans "Cancel" %}</span>
                  </a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block footer %}

{% endblock %}