{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<section class="page-section cta" id="profile">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner-custom text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">{% trans "Hi" %}!</span>
                        <span class="section-heading-lower">{{ user.username }}</span>
                    </h2>

                    {% for group in groups %}
                        <div class="card">
                            <div class="card-body">
                                {% if group.image %}
                                    <img class="text-center" src="/media/{{ group.image }}" width="40%" lt="Card image cap">
                                {% else %}
                                    <img class="text-center" src="/assets/web/img/coffeee-logo.png" width="40%" lt="Card image cap">
                                {% endif %}
                                <h1 class="card-title"></h1>
                                <h2 class="card-title">{{ group.name }}</h2>
                                <div class="card-text">
                                    <a href="{% url 'waffles' %}?group={{ group.id }}">
                                        <p class="btn btn-primary btn-xl card-text"><i class="fa fa-coffee"></i> {% trans "Take a Coffee" %}!</p>
                                    </a>
                                </div>
                                <div class="card-text">
                                    <h1></h1>
                                    {% for user in group.members.all %}
                                        {% if user.avatar %}
                                            <img class="rounded-circle" src="/media/{{ user.avatar }}" width="24px" title="{{user}}" />
                                        {% else %}
                                            <i class="fa fa-user rounded-circle align-bottom" style="font-size:24px;color:dark-grey;" title="{{user}}"></i>
                                        {% endif %}
                                    {% endfor %}
                                    ... <strong>{{ group.members.all.count }}</strong> {% trans "members"%}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

