{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<section class="page-section cta" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner-custom text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{% trans "Hi" %}!</span>
              <span class="section-heading-lower">{{ user.username }}</span>
            </h2>
            <div class="container">
                {% if groups %}
                  {% for group in groups %}
                  <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-4">
                        {% if group.image %}
                          <img src="/media/{{ group.image }}" width="40%"/>
                        {% else %}
                          <img src="/assets/web/img/coffeee-logo.png" width="40%"/>
                        {% endif %}
                      </div>
                      <div class="col-sm-8">
                        <h1>{{ group }}</h1>
                      </div>
                    </div>
                    {% for waffle in group.waffle.all %}
                      {% if waffle.is_active|yesno:"True,False" == "True" %}
                      <hr>
                      <div class="row" style="padding:2%">
                          <div class="col-sm my-auto">
                              <img src="/media/{{ waffle.image }}" width="80%" />
                          </div>
                          <div class="col-sm my-auto">
                              <strong>{{ waffle.name }}</strong>
                          </div>
                          <div class="col-sm my-auto">
                              {{ waffle.price }} €
                          </div>
                          <div class="col-sm my-auto">
                              <a href="/consumption/confirm/?waffle={{waffle.id}}" type="button" class="btn btn-primary btn-xl">{% trans "TAKE ONE" %}  <i class="fa fa-coffee" style="font-size:16px;"></i></a>
                          </div>
                      </div>
                      <hr>
                      {% endif %}
                    {% endfor %}
                  </div>
                  </div>
                  {% endfor %}
                {% else %}
                    <p>{% trans "We are sorry, you can't take any coffee "%} </p>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


{% endblock %}


{% block footer %}

{% endblock %}
