
body {
    font-family: 'Raleway';
  }

.cta-inner-custom {
  position: relative;
  padding: 3rem;
  margin: .5rem;
  background-color: rgba(255,255,255,.85);
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.table td {
  vertical-align: middle;
}

.btn {
  margin: 2%;
}

.btn-outline-danger:hover {
  background-color: #ff8899;
}

a > .btn :hover {
  text-decoration: none;
}

.section-heading-lower {
  font-size: 100% !important;
}

a {
  color: #d4984e;
}

a:hover {
  color: #d4984e;
  text-decoration: none;
}

.card-text {
  font-size: 90%;
}

.card {
  margin-bottom: 3%;
}