{% load static %}
{% load static i18n %}

<!DOCTYPE html>
<html lang="en">


{% include 'partials/header.html' %}
{% block header %}
{% endblock %}


<body>

    {% include 'partials/navigation.html' %}
    {% block navigation %}
    {% endblock %}


    <section class="page-section cta" id="profile">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner-custom text-center rounded">
                        <h2 class="section-heading mb-4">
                            {% comment %} <span class="section-heading-upper"> {% trans "Hi "%} {{ user.username }}</span> {% endcomment %}
                            <span class="section-heading-lower">{% trans "Recover your password" %} </span>
                        </h2>
                        {% block content %}
                        <!-- Block Content -->
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/footer.html' %}
    {% block footer %}
    {% endblock %}

</body>

</html>
