{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
	<form method="post" action="{{ url }}" class="form-horizontal form-bordered">
		{% csrf_token %}
		{% comment %} {{ form.as_p }} {% endcomment %}
		{% for field in form.visible_fields %}
			<div class="form-group">
				<label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
				<div class="col-xs-12">
					{{ field }}
					{% if field.help_text %}
						<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
				</div>
			</div>
			<div class="text-danger">{{ field.errors }}</div>
		{% endfor %}
		<input type="submit" class="btn btn-primary btn-xl" value="{% trans "Recover my password" %}">
	</form>
{% endblock %}